.container
  %ul
    - @task.errors.full_messages.each do |message|
      %li= message  
  = form_with(model: @task, url: board_task_path(@board, @task), local: true) do |f|
    -# = form_with @task, url: {controller: 'tasks', action: 'update' } do |f|
    %div 
      = f.label :eyecatch, 'アイキャッチ'
    %div 
      = f.file_field :eyecatch
    %div
      = f.label :title, 'Name'
    %div 
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div 
      = f.text_area :content
    -# %div 
    -#   = f.label :deadline_at, class: '期限日'
    -# %div
    -#   = f.datetime_select :deadline_at, class: '期限の日'
    %div
      = f.label :limit, '期限の設定'
    %div  
      = datetime_select :date, Date.today, use_month_numbers: true
    
    = f.submit 'submit', class: 'btn-primary'   
