.container
  %ul 
    - @task.errors.full_messages.each do |message|
      %li= message 
  
  %h2 New Card
  = form_with(model:@board, @task, url: board_tasks_path(@task.board), local:true) do |f|
    %div
      = f.label :title, 'Name'
    %div 
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div 
      = f.text_area :content

    = f.submit '保存', class: 'btn-primary'
