%h2 card詳細ページ
.task
  - if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
  %h1.task_title= @task.title
  .task_detail
    = image_tag @task.user.avatar_image
    %div
      %p= @task.author_name
      %p= @task.display_created_at
    
    - if user_signed_in? && current_user.has_written2?(@task)
      .task_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@task)
            = link_to '削除する', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .task_content
    = @task.content
  
.comment
  %h2 コメント一覧
  - @comments.each do |comment|
    = render 'commons/comment', comment: comment 
    .task_comment
      %p= comment.content
 
.container

  = link_to new_board_comment_path(@task) do

    .btn-secondary
      コメントを追加
