.task
  - if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
  %h1.task_title= @task.title

  .task_detail
    -# = image_tag @board.user.avatar_image
    %div
      -# - if @task.user.present?
        %p= task.author_name
        %p= task.display_created_at
    
    - if user_signed_in? && current_user.has_written?(@task)
      .task_detail_actions
        .dropdown
        
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@task)
            = link_to '削除する', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .task_content
    = @task.content
  - if user_signed_in?

    -# - if current_user.acts_task?(@board)
    -#   .board_task
    -#     = link_to board_tasks_path(@board), data: { method: 'delete' } do
          
    -# - else
    -#   .board_task
    -#     = link_to board_tasks_path(@board), data: { method: 'post' } do
