= link_to board_task_path(@board, task) do
  .card
    - if task.eyecatch.attached? 
      .card_image
        = image_tag task.eyecatch
    .task_content
      .task_title
        = task.title
      .task_content
        = task.content
        
      .card_detail
        = image_tag task.user.avatar_image 
        %div
          %p= task.author_name
          %p= task.display_created_at

        .comment_count
          %p コメント数
          = task.comment_count

          .comment_detail
            -# - @comments.each do |comment|
            -#   .task_comment
            -#     = image_tag @comments.avatar_image
           
            -# = image_tag current_user.avatar_image
            -# = image_tag user.avatar_image
            = image_tag @comment.user.avatar_image
            -# = image_tag @board.user.avatar_image

        