.board
  - if @board.eyecatch.attached?
    
    .board_image      
      = image_tag @board.eyecatch
  %h1.board_title= @board.title
  .board_detail
    
    = image_tag @board.user.avatar_image
    
    %div
      %p= @board.author_name
      %p= @board.display_created_at               
    - if user_signed_in? && current_user.has_written?(@board)
      .board_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(@board)
            = link_to '削除する', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .board_content
    = @board.description

  
-# - if user_signed_in?

-# - if current_user.acts_task?(@board)
-#   .board_task
-#     = link_to board_tasks_path(@board), data: { method: 'delete' } do
      
-# - else
-#   .board_task
-#     = link_to board_tasks_path(@board), data: { method: 'post' } do

.card 
  %h2 Card一覧
  - @tasks.each do |task|
    = render 'commons/task', task: task 
 
  .card_new        
    = link_to new_board_task_path(@board) do
      .task_new
        %p + Add new Card 

 
